<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>男装</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
   	<link rel="stylesheet" type="text/css" href="libs/css/nanz.css"/>       
</head>
<body >
   
    <div class="tool">
    	<div ng-bind='xl' class="tool-title" ng-click='xljx()'>销量↓</div>
    	<div ng-bind='jg' class="tool-title" ng-click='jgjx()'>价格↑</div>
    	<div ng-bind='zh' class="tool-title" ng-click='zhpx()'>综合↔</div>
    </div>
    <div class="tool-gg">
    	<img src="libs/imgs/nanz-gg.jpg"/>
    </div>
    <div class="sp">
    	<!--<div class="sp-info" ng-repeat="x in nanzinfo " ng-if='fn3()'>
    		<a ng-href="detail.html?id={{x.id}}">
    			<img ng-src="{{x.imgUrl}}"/>
    			<div class="ms0" ng-bind = 'x.describe1'></div>   		  			
    			<div class="ms1">
    				<span ng-bind = "x.price| currency:'￥'"></span>
    				<span>已卖:</span>
    				<span ng-bind = 'x.nums'></span>
    			</div>
    		</a>
    	</div>-->
    
    
    	
    </div>
  <div class="k-l">
  	
  </div>
</body>
</html>
